<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>

<header>
   <div class="row navbg">

      <div class="col-sm">
         <a href = "/" class = "link-dark"><img class = "logo bookimg" src = "/images/logo4.png"></a>
      </div>

      <div class="col-sm">
      </div>

      <div class="col-sm">
         <div class="topnav">
            <nav>
               <ul class="nav">

                  <!--<br>
                  <li class="nav-item navbuttons register"><button  type="button" class="btn" style = "background-color:#414E64; color: white">Register</button></li>-->
               </ul>
            </nav>
         </div>
      </div>

   </div>

</header>
<div class="center">
<div class="login-page">

<form method="post">
   <div class="form-group">
      <label>Username
         <input class="form-control" th:field="${registerFormDTO.username}" />
      </label>
      <p class="error" th:errors="${registerFormDTO.username}"></p>
   </div>
   <div class="form-group">
      <label>Password
         <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
      </label>
      <p class="error" th:errors="${registerFormDTO.password}"></p>
   </div>
   <div class="form-group">
      <label>Verify Password
         <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
      </label>
   </div>

   <input type="submit" class="btn btn-primary" style="background-color:#414E64; color: white" value="Register" />
   <p>Have an account already? <a href="/login">Login.</a></p>


</form>
</div>
</div>
</body>
</html>